<div class="container-fluid">
		

			<div class = "container text-center">
				<div id = "overlay">
					<div class = "row title">
							<div class = "col-md-4"><h3><i class="fa fa-bars"></i></h3></div>
							<div class = "col-md-4"><h3>HarvestHauler.com</h3></div>
							<div class = "col-md-4"></div>
						</div>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					
					<div class = "container">
						<div class = "row">
							<div class = "col-md-12">
								<h3>Enter money to be credited</h3>
							</div>
						</div>
						<br>
						<div class = "row">
							<div class = "col-md-12">
								<form><input  class = "form" name="phone-number" placeholder=" Amount"></form>
							</div>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class = "row">
							<div class = "col-md-12">
								<form><a href="final.html"><input class = "submit" name="submit" type="button" value="Credit"></form></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	</div>