<div class="container-fluid">
		<div id="overlay">
		<div class = "row title text-center">
			<div class = "col-md-3 col-md-offset-1"><h3><i class="fa fa-bars"></i></h3></div>
			<div class = "col-md-4"><h3>HarvestHauler.com</h3></div>
			<div class = "col-md-4"></div>
		</div>
		<div class="row text-center current">
			<br><br><br>
			<div class="col-xs-4 col-xs-offset-2">
				<img src="placeholder.png">
				<br><br>
							<h3>ID : 1828</h3>
							<h3>Rating : 5</h3>
							<a href="checkout.html"><h3 class="button">Get Paid</h3></a>
			</div>
			<div class="col-xs-4">
				<img src="placeholder.png">
				<br><br>
							<h3>ID : 1828</h3>
							<h3>Rating : 5</h3>
							<a href="checkout.html"><h3 class="button">Get Paid</h3></a>
			</div>
		</div>
		<div class="row text-center earning" style="color:white">
			<h1>Your Total Earning is</h1>
			<h2>6000 Credits</h2>
		</div>
	</div>
</div>