html,body
{	
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Lato', sans-serif;
    color:white;
    text-shadow: 2px 2px rgba(0,0,0,0.6);
    position:relative;
}
h2{
	color:white;
	font-family: 'Ubuntu', sans-serif;
	font-size:50px;
	text-shadow: 2px 2px rgba(0,0,0,0.6);
}
p{
	color:white;
}
a{
	color:white;
	text-decoration:none;
}
a:hover{
	color:white;
	text-decoration:none;
}
hr{
	width:60%;
	height:5px;
}
.fixed{
  position:fixed;
  background:rgba(30,130,76,1);
  color:white;
  top:0;
  width:105%;
  z-index:99;
}
.mininav2{
	font-size:25px;
  	background:rgba(30,130,76,0.78);
  	position:fixed;
  	top:0;
  	left:0;
  	z-index:99;
  	height:100%;
  	width:30%;
    margin: 0px;
    padding: 0px;
    transition: all 0.2s ease 0s;
    transform:translateX(-100%);
}
.mininav h3{
	z-index:99;
	text-shadow: none;
	font-size:35px;
}
.menu:hover{
  transition: all 0.2s ease 0s;
  background: #459375;
  padding:5px;
  cursor:pointer;
}
.menu:hover h3{
  color:white;
}
.active{
  background:#459375;
  padding:5px;
  color:white;
}
.close{
	color:white;
    cursor:pointer;
  }
.main{
	height:100vh;
	position:relative;
	font-size:30px;
	color:rgba(30,130,76,1);
	background: url('http://i.imgur.com/ovHg8aC.jpg') no-repeat;
	background-size:cover;
}
.title h2{
	z-index:-99;
}
.button{
	background: rgba(30,130,76,0.78);
	border-radius:5px;
	margin-top:3%;
	padding:5px;
	color:white;
}
.button:hover{
	background:rgba(30,130,76,1);
	transition: all 0.3s ease 0s;
	cursor:pointer;
}
.button1{
	border:white solid 2px;
	border-radius:5px;
	padding:5px;
}
.main2{
	background: url('http://i.imgur.com/fk7oKDA.jpg') ;
}
.main3{
	background: url('http://i.imgur.com/gCrnrnf.png') ;
}
.divide{
	height:45vh;
	text-shadow:none;
	color:rgba(30,130,76,1);
	background:white;
}
.divide h2{
	text-shadow:none;
	color:rgba(30,130,76,1);
}
.divide hr{
	width:40%;
	border-color:rgba(30,130,76,1);
	height:10px;
}
.main4{
	background:url('http://i.imgur.com/b8ppOj5.jpg');
	background-size:cover;
}
.register{
	text-shadow:none;
	margin-top:5%;
	color:rgba(30,130,76,1);
	background: rgba(0,0,0,0.68);
	border: solid white 4px;
	border-radius:5px;
}
.register h2{
	text-shadow:none;
	color:rgba(30,130,76,1);
}
.register input{
	background:rgba(0,0,0,0);
	border: solid white 2px;
	border-radius:4px;
	padding:10px;
	margin-left:-90px;
	font-family: 'Lato', sans-serif;
	font-size:25px;
}
.main4 .button{
	width:60%;
	padding:5px 0 5px 0;
	margin-left:-35px;
	border:solid white 2px;
	background:rgba(30,130,76,1);
}
.main4 h3{
	font-size:35px;
}
.main5{
	background:url('http://i.imgur.com/E48n9C7.jpg');
	background-size:cover;
}
.main5 h3{
	font-size:35px;
}
.main5 .register{
	color:white;
}
.main5 .register h2{
	color:white;
}
.main5 .button{
	width:60%;
	padding:5px 0 5px 0;
	margin-left:-35px;
	border:solid white 2px;
	background:rgba(30,130,76,1);
}
@media (max-width: 1000px){
	.mininav2 h3{
		font-size:10px;
	}
	h1{
		font-size:50px;
	}
	p{
		font-size:20px;
	}
}


.button1:hover{
	background-color:  #1ea24c;
	color:white;
	transition: all 0.3s ease 0s;

}